.pasos
{
    padding-top: 60px;
    background-color: #e1e9ee;
    height: 400px;
    overflow: hidden;
}   

    .pasos--forze
    {
        width: var(--anchura--contenedor--general);
        margin: auto;
    }

        .pasos--encabezado
        {
            /* background-color: red; */
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            align-items: center;
            margin-bottom: 30px;
        }

            .pasos--encabezado--titulo
            {
                font-size: 1.5em;
            }
        
            .pasos--encabezado--esconder
            {
                width: 20px;
                height: 20px;
                background-color: transparent;
                border: none;
                transform: rotate(180deg)
            }

                .pasos--encabezado--esconder:hover
                {
                    cursor: pointer;

                }

        .pasos--contenedor
        {
            display: flex;
        }

            .pasos--contenedor--activo
            {
                transform: scale(1.15);
                box-shadow: 0px 2px 2px lightgray;
            }
        
            .pasos--contenedor--opciones
            {
                background-color: white;
                width: 100%;
                border: 1px solid lightgray;
                padding: 10px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                transition: .5s;
            }


                .pasos--contenedor--opciones--icono
                {
                    height: 60px;
                    /* background-color: green; */
                    width: 100%;
                }

                .pasos--contenedor--opciones--titulo
                {
                    margin: auto;
                    width: 80%;
                    text-align: center;
                    font-size: 1.3em;
                    margin-bottom: 5px;
                }

                .pasos--contenedor--opciones--texto
                {
                    margin: auto;
                    width: 80%;
                    text-align: center;
                    margin-bottom: 10px;
                }

                .pasos--contenedor--opciones--boton
                {
                    /* background-color: red; */
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                }

                    .pasos--contenedor--opciones--boton--primario
                    {
                        width: 230px;
                        font-size: .9em;
                        padding: 5px;
                        background-color: var(--color-fondo-menu);
                        border: none;
                        color: var(--color-texto-segundo);
                        border-radius: 2px;
                        margin-bottom: 5px;
                        font-weight: bold;
                        height: 25px;
                    }

                        .pasos--contenedor--opciones--boton--primario:hover, .pasos--contenedor--opciones--boton--secundario:hover
                        {
                            cursor: pointer;
                        }

                    .pasos--contenedor--opciones--boton--secundario
                    {
                        width: 120px;
                        color: var(--color-fondo-menu);
                        background-color: transparent;
                        border: none;
                    }