.contenido--anuncios
{
    width: 250px;
    background-color: white;
    align-self: baseline;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 2px gray;

}

    .contenido--anuncios--imagen
    {
        height: 200px;
        width: 100%;
        border-bottom: 1px solid lightgray;
    }

    .contenido--anuncios--contenedor
    {
        padding: 10px;
    }

        .contenido--anuncios--contenedor--enlaces
        {
            display: flex;
            flex-direction: column;
        }

            .contenido--anuncios--contenedor--enlaces--a
            {
                text-decoration: none;
                color: var(--color-fondo-menu);
                margin-bottom: 5px;
            }