.contenido
{
    width: var(--anchura--contenedor--general);
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    /* align-content: flex-start; */
}

    .contenido--perfil
    {
        width: 240px;
        background-color: white;
        border: 1px solid gray;
        box-shadow: 1px 1px 3px gray;
        align-self: flex-start;
    }

        .contenido--perfil--contenedor
        {
            position: relative;
        }

            .contenido--perfil--contenedor--fondo
            {
                background-image: url(../../../img/fondo.svg);
                height: 55px;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
            }
            .contenido--perfil--contenedor--info
            {
                /* background-color: gold; */
                display: flex;
                flex-wrap: wrap;
                border-bottom: 1px solid lightgray;
                padding: 10px;
            }

                .contenido--perfil--contenedor--info--foto
                {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }

                    .contenido--perfil--contenedor--info--foto--img
                    {
                        width: 80px;
                        height: 80px;
                        border-radius: 200px;
                        border: 2px solid lightgray;
                        box-shadow: 1px 1px 4px;
                        z-index: 2;
                    }

                .contenido--perfil--contenedor--info--datos
                {
                    /* background-color: fuchsia; */
                    width: 100%;
                    text-align: center;
                }

            .contenido--perfil--contenedor--contacto
            {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                padding: 10px;
                border-bottom: 1px solid lightgray;
            }

                .contenido--perfil--contenedor--contacto--icono
                {
                    width: 100%;
                    /* background-color: lightcoral; */
                    display: flex;
                    justify-content: center;
                }

                    .contenido--perfil--contenedor--contacto--icono--svg
                    {
                        margin: auto;
                    }

                .contenido--perfil--contenedor--contacto--texto
                {
                    width: 100%;
                    text-align: center;
                }

            .contenido--perfil--contenedor--accede
            {
                background-color: #f5f5f5;
                padding: 10px;
                display: block;
                text-decoration: none;
                color: #444;
                text-align: center;
            }

                .contenido--perfil--contenedor--accede--info
                {
                    display: flex;
                    /* background-color: red; */
                    justify-content: center;
                    align-items: center;
                    /* height: 40px; */
                }