.contenido--publicaciones
{
    width: 570px;

}

    .contenido--publicaciones--contenedor
    {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        box-shadow: 2px 2px 5px gray;
        margin-bottom: 10px;
        overflow: hidden;
    }

        .contenido--publicaciones--contenedor--articulo
        {
            width: 100%;
        }

            .contenido--publicaciones--contenedor--articulo--texto
            {
                width: 100%;
                min-height: 100px;
                border: none;
                resize: none;
            }

        .contenido--publicaciones--contenedor--datos
        {
            display: flex;
            width: 100%;
            /* background-color: green; */
        }

            .contenido--publicaciones--contenedor--datos--foto
            {
                /* width: 50px; */
            }

                .contenido--publicaciones--contenedor--datos--foto--img
                {
                    width: 50px;
                    height: 50px;
                    border-radius: 200px;
                    margin-right: 10px;
                }

            .contenido--publicaciones--contenedor--datos--info
            {
                /* background-color: blue; */
                display: flex;
                align-items: center;
            }

        .contenido--publicaciones--contenedor--compartir
        {
            width: 100%;
            margin: 10px 0;
            text-align: left;
            font-size: 1.2em;
            background-color: transparent;
            border: none;
            color: #555;
        }

            .contenido--publicaciones--contenedor--compartir:hover
            {
                cursor: pointer;
            }

        .contenido--publicaciones--contenedor--accion
        {
            
            display: flex;
            /* background-color: red; */
            width: 100%;
            display: flex;
            justify-content: space-between;
            border-top: 1px solid lightgray;
            padding-top: 10px;
        }

            .contenido--publicaciones--contenedor--accion--izquierda
            {
                display: flex;
                width: 230px;
                justify-content: space-between;
            }

                .contenido--publicaciones--contenedor--accion--boton
                {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 5px;
                    background-color: transparent;
                    border: 1px solid black;
                    transition: 0.5s;
                }
                
                    .contenido--publicaciones--contenedor--accion--boton:hover
                    {
                        border-radius: 200px;
                        cursor: pointer;
                        border: 1px solid black;
                    }

            .contenido--publicaciones--contenedor--accion--derecha
            {
                display: flex;
                align-items: center;
            }

                .contenido--publicaciones--contenedor--accion--derecha--publicar
                {
                    padding: 5px 10px;
                    background-color: var(--color-fondo-menu);
                    color: var(--color-texto-segundo);
                    border: none;
                    font-size: 1em;
                    font-weight: bold;
                    border-radius: 2px;
                    transition: 0.5s;
                }
                
                .contenido--publicaciones--contenedor--accion--derecha--publicar:hover
                {
                    background-color: var(--color-fondo-menu-segundo);
                    cursor: pointer;
                }



.publicaciones--contenedor--encabezado--ajustes--contenedor
{
    max-width: 400px;
}


/* Animaciones publicaciones */

.publicacionActiva-enter-active, 
.publicacionActiva-leave-active, 
{
    transition: cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.5s;
}

.publicacionActiva-enter, .publicacionActiva-leave-to
{
    transform: translateX(40px);
}


.publicacion-enter-active,
.publicacion-leave-active
{
    transition: 0.5s ease;
}

.publicacion-enter, .publicacion-leave-to
{
    transform: translateX(-200px);
    opacity: 0;
}

